html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

a {
    background-color: transparent
}

b {
    font-weight: bolder
}

small {
    font-size: 80%
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -.5em
}

img {
    border-style: none
}

dd,dl,h1,h2,h3,h4,h5,h6,hr,ol,p,ul {
    margin: 0
}

ol,ul {
    list-style: none;
    padding: 0
}

html {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5
}

*,:after,:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

audio,img,video {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

h1 {
    font-size: 1.875rem;
    font-weight: 700
}

h2 {
    font-size: 1.5rem;
    font-weight: 600
}

h3 {
    font-size: 1.25rem
}

h4 {
    font-size: 1.125rem;
    font-weight: 500
}

article>section>p {
    color: #4a5568
}

.timeline:after {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #718096;
    width: 2px;
    content: "";
    margin-left: -3px
}

.timeline-item .content {
    color: #1a202c
}

.timeline-item .content>h5 {
    width: 160px
}

.timeline-item:after {
    position: absolute;
    border-width: 2px;
    border-color: #718096;
    border-radius: 50%;
    z-index: 10;
    width: .75rem;
    height: .75rem;
    left: 0;
    background-color: #fff;
    left: calc(-2px - .375rem);
    top: 16px;
    content: ""
}

.star {
    -webkit-clip-path: polygon(50% 0,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%);
    clip-path: polygon(50% 0,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%)
}

.rounded-50 {
    border-radius: 50%
}

.bg-gray-400 {
    background-color: #cbd5e0
}

.bg-blue-800 {
    background-color: #2c5282
}

.border-white {
    border-color: #fff
}

.border-4 {
    border-width: 4px
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.justify-start {
    justify-content: flex-start
}

.justify-between {
    justify-content: space-between
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.h-6 {
    height: 1.5rem
}

.list-inside {
    list-style-position: inside
}

.list-disc {
    list-style-type: disc
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mb-1 {
    margin-bottom: .25rem
}

.mr-2 {
    margin-right: .5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.ml-6 {
    margin-left: 1.5rem
}

.mt-8 {
    margin-top: 2rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-2 {
    padding: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.pr-3 {
    padding-right: .75rem
}

.pt-4 {
    padding-top: 1rem
}

.pl-6 {
    padding-left: 1.5rem
}

.pb-10 {
    padding-bottom: 2.5rem
}

.relative {
    position: relative
}

.text-white {
    color: #fff
}

.text-gray-600 {
    color: #718096
}

.text-gray-700 {
    color: #4a5568
}

.text-gray-900 {
    color: #1a202c
}

.text-sm {
    font-size: .875rem
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}

.normal-case {
    text-transform: none
}

.align-baseline {
    vertical-align: baseline
}

.w-6 {
    width: 1.5rem
}

.w-48 {
    width: 12rem
}

.w-auto {
    width: auto
}

.w-full {
    width: 100%
}
